Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/InfinityBladeFireLands/Maps/Forge.umap
Content/Underwater/Levels/Underwater_Demo_00_BuiltData.uasset
